body{
	margin: 0 auto;
	background-image:url("../images/veeterzy.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	opacity: 0.9;
}

.contain{
	width:100%;
	color:white;
	border:1px;
	border-style:solid;
	line-height:auto;
	
}
.top{
	padding:auto;
	background-color:#0984e3;
	color:white;
	font-size:30px;
	
}

.top h1{
	text-align:left;
	display:inline;
	
}








	



.dropbtn{
	background-color:#0984e3;
	color:white;
	padding:8px;
	font-size:16px;
	border:none;
	cursor:pointer;
	
	
}


.dropdown{
	display:inline;
	
	
}



.dropdown-content{
	display:none;
	position:absolute;
	background-color:black;
	
	box-shadow:0px 8px 16px rgba(0,0,0,0.2);
	z-index:-1;	
}


.dropdown-content a{
	color:white;
	position:relative;
	padding:12px 16px;
	text-decoration:none;
	display:block;
	font-size:20px;
}




.dropdown-content a:hover{
	background-color:#485460;
}


.dropdown:hover .dropdown-content{
	display:block;
	position:auto;
}



.dropdown:hover .dropbtn{
	background-color:blue;
}


		
















